
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <title>Accenture</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" media="screen" href="{% static 'personal/css/style.css' %}" >
</head>
<body>

<!-- particles.js container -->
<div id="particles-js" style="background-color: #1e142d;">

    <div role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-sm-6 col-md-6">
                    <div class="logo-well">
                        <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/blue-chrome-rain-icons-alphanumeric/069422-blue-chrome-rain-icon-alphanumeric-more-than.png" alt="Neo4j World's Leading Graph Database" height="160" width="180" id="logo">
                        <div class="brand" style="color: white;font-size: 140%;">Accenture Knowledge Base</div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <ul class="nav navbar-nav">
                        <li>
                            <form role="search" class="navbar-form" id="search">
                                <div class="form-group">
                                    <input type="text" value="5446622" placeholder="Search for Claim Number" class="form-control" name="search">
                                </div>
                                <button class="btn btn-default" type="submit">Search Claim</button>
                            </form>
                        </li>
                    </ul>

                </div>
                    <div class="container">
        <div class="col-sm-6 col-md-6">
            <table class="table" style="color: white">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                </tr>
              </tbody>
            </table>
            {% block content %}
                {% for post in books %}
                    <h5>{{ post }}</h5>
                {% endfor %}
            {% endblock %}
        </div>
    </div>
            </div>
        </div>
    </div>


</div>

<!-- scripts -->
<script src="{% static 'personal/js/particles.js' %}"></script>
<script src="{% static 'personal/js/app.js' %}"></script>








</body>
</html>
