<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Always force latest IE rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="description" content="Django is a responsive creative template">
		<meta name="keywords" content="portfolio, personal, corporate, business, parallax, creative, agency">

		<!-- Title -->
		<title>Django</title>

		<!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Norican" rel="stylesheet">

		<!-- Font awesome Core CSS -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/et-line.css">

		<!-- bootstrap css -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- magnific-popup CSS -->
		<link rel="stylesheet" href="css/magnific-popup.css">

		<!-- owl carousel CSS -->
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">

		<!-- Custom style CSS -->
		<link rel="stylesheet" href="css/style.css">

		<!-- responsive CSS -->
		<link rel="stylesheet" href="css/responsive.css">

		<!--[if lt IE 9]-->
		<script src="js/html5shiv.min.js"></script>
		<!--[endif]-->
	</head>
	<body>

		<!-- ====== Preloader ======  -->
	    <div class="loading">
			<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
			</div>
		</div>
		<!-- ======End Preloader ======  -->

		<main>

			<!-- ====== Navgition ======  -->
			<nav class="navbar">
			  <div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <!-- logo -->
			      <a class="navbar-brand" href="#">Django</a>
			    </div>

			    <!-- Collect the nav links, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      
				  <!-- links -->
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#home" class="active">Home</a></li>
			        <li><a href="#about">About</a></li>
			        <li><a href="#services">Services</a></li>
			        <li><a href="#portfolio">Work</a></li>
			        <li><a href="#clients">Clients</a></li>
			        <li><a href="#contact">Contact</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container -->
			</nav>
			<!-- ====== End Navgition ======  -->

			<!-- ====== Header ======  -->
			<header id="home" class="demo-3">
				<a class="player mb_YTPlayer" data-property="{videoURL:'https://www.youtube.com/watch?v=hpeYWdkUtcE',containment:'#home', showControls:false, autoPlay:true, zoom:0, loop:true, mute:false, startAt:0, opacity:1, quality:'default'}" id="video_1493031470664"></a>
					
					<div class="demo-3-overlay">
						<!-- header content -->
						<div class="caption v-middle text-center">
							<h3>I Am ,</h3>
							<h1>John Smith</h1>
							<h4>I'm A <span></span> </h4>
						</div>

						<div class="button-scroll" data-scrollTo="about"><span></span></div>
					</div>

				</div>
			</header>
			<!-- ====== End Header ======  -->

			<!-- ====== hero ======  -->
			<section id="about" class="hero section-padding">
				<div class="container">

					<div class="row">

						<!-- hero block -->
						<div class="hero-block">

					 		<!-- hero image -->
							<div class="col-md-4">
								<div class="hero-img">
									<img src="img/hero.jpg" alt="image">
								</div>
							</div>

							<div class="col-md-offset-1 col-md-6">
								<div class="hero-item">
									<h5 class="mb-20">I Am UI / UX Developer</h5>
									<p class="mb-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim sagittis quam, id porta Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim sagittis quam, id porta.</p>
									<p class="mb-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim sagittis quam, id porta Maecenas volutpat.</p>

									<button><span><i class="fa fa-download" aria-hidden="true"></i></span>  Resume</button>
									<button>Hire Me</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="clear-fix"></div>

				<!-- services -->
				<div id="services" class="services section-padding">
					<div class="container">

						<!-- section header -->
						<div class="section-head text-center">
							<h5 class="tit">My Offers !</h5>
						</div>

						<div class="row">

							<!-- services items -->
							<div class="serv-row">
								<div class="col-md-4">
									<div class="serv-item">
										<span>01</span>
										<h6>Web Design</h6>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									</div>
								</div>

								<div class="col-md-4">
									<div class="serv-item">
										<span>02</span>
										<h6>Graphic Design</h6>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									</div>
								</div>

								<div class="col-md-4">
									<div class="serv-item">
										<span>03</span>
										<h6>Branding</h6>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">

						<!-- skills -->
						<div class="skills">
							<div class="col-md-6">
								<div class="hero-progress">
									<div class="progress-item">
										<p>DESIGN <span class="pull-right">90%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="90%"></span></div>
									</div>

									<div class="progress-item">
										<p>BRANDING <span class="pull-right">80%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="80%"></span></div>
									</div>

									<div class="progress-item">
										<p>DEVELOPMENT<span class="pull-right">85%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="85%"></span></div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="hero-progress">

									<div class="progress-item">
										<p>WORDPRESS <span class="pull-right">80%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="80%"></span></div>
									</div>

									<div class="progress-item">
										<p>MARKITING<span class="pull-right">85%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="85%"></span></div>
									</div>

									<div class="progress-item">
										<p>SEO<span class="pull-right">80%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="80%"></span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ====== End hero ======  -->

			<!--====== Portfolio ======-->
			<section id="portfolio" class="portfolio section-padding">

				<div class="container">
					
				<!-- section header -->
				<div class="section-head text-center">
					<h5 class="tit">My Work !</h5>
				</div>
				<div class="row">

					<!-- filter links -->
					<div class="filtering text-center mb-50">
						<span data-filter='*' class="active">All</span>
						<span data-filter='.brand'>Brand</span>
						<span data-filter='.web'>Design</span>
						<span data-filter='.photo'>Photo</span>
					</div>

					<!-- gallery -->
					<div class="gallery text-center">

						<!-- gallery item -->
						<div class="col-md-4 item-img photo">
							<img src="img/portfolio/1.jpg" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="img/portfolio/1.jpg"><span class="icon-scope"></span></a>
									<h5>Photographic</h5>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img web">
							<img src="img/portfolio/2.jpg" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="img/portfolio/2.jpg"><span class="icon-scope"></span></a>
									<h5>Web Design</h5>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img brand">
							<img src="img/portfolio/3.jpg" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="img/portfolio/3.jpg"><span class="icon-scope"></span></a>
									<h5>Branding</h5>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img photo">
							<img src="img/portfolio/4.jpg" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="img/portfolio/4.jpg"><span class="icon-scope"></span></a>
									<h5>Photographic</h5>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img web">
							<img src="img/portfolio/5.jpg" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="img/portfolio/5.jpg"><span class="icon-scope"></span></a>
									<h5>Web Design</h5>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img brand">
							<img src="img/portfolio/6.jpg" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="img/portfolio/6.jpg"><span class="icon-scope"></span></a>
									<h5>Branding</h5>
								</div>
							</div>
						</div>

					</div>
				</div>
				</div>
			</section>
			<!--====== End Portfolio ======-->

			<!--====== Numbers ======-->
			<div class="numbers section-padding">
				<div class="container">
					<div class="row text-center">

						<!-- number items -->
						<div class="col-md-3 col-sm-6">
							<div class="numb-item">
								<span class="icon-happy"></span>
								<h3 class="counter">234</h3>
								<p>HAPPY CLIENTS</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="numb-item">
								<span class="icon-layers"></span>
								<h3 class="counter">1484</h3>
								<p>COMPLETE PROJECT</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="numb-item">
								<span class="icon-strategy"></span>
								<h3 class="counter">736</h3>
								<p>CUP OF COFFIE</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="numb-item">
								<span class="icon-trophy"></span>
								<h3 class="counter">7</h3>
								<p>AWARDS</p>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--====== End Numbers ======-->

			<!--====== Clients ======-->
			<section id="clients" class="clients section-padding">
				<div class="container">
					<div class="row">

						<!-- clients carousel -->
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
							<div class="client-say text-center">

								<h5 class="tit mb-30">Reviews !</h5>

								<div class="owl-carousel owl-theme">

									<!-- client item -->
									<div class="client-item text-center">

										<p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>

										<h6>___ John Doe, Google Inc. ___</h6>
									</div>

									<!-- client item -->
									<div class="client-item text-center">

										<p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>

										<h6>___ John Doe, Google Inc. ___</h6>
									</div>

									<!-- client item -->
									<div class="client-item text-center">

										<p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>

										<h6>___ John Doe, Google Inc. ___</h6>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--====== End Clients ======-->

			<!--====== Contact ======-->
			<section id="contact" class="contact section-padding">

				<!-- section header -->
				<div class="section-head text-center">
					<h5 class="tit">Say Hello !</h5>
				</div>

				<!-- form -->
				<div class="main-form">
					<div class="container">
						<div class="row">
							<!-- contact form -->
							<div class="col-md-offset-2 col-md-8">
								 <form class="form" id="contact-form" method="post" action="contact.php" role="form">
			                        <div class="messages"></div>

			                        <div class="controls">

			                            <div class="row">
			                                <div class="col-md-6">
			                                    <div class="form-group">
			                                        <input id="form_name" type="text" name="name" placeholder="Name *" required="required" data-error="Firstname is required.">
			                                        <div class="help-block with-errors"></div>
			                                    </div>
			                                </div>

			                                 <div class="col-md-6">
			                                    <div class="form-group">
			                                        <input id="form_email" type="email" name="email" placeholder="Email *" required="required" data-error="Valid email is required.">
			                                        <div class="help-block with-errors"></div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="row">
			                                <div class="col-md-12">
			                                    <div class="form-group">
			                                        <input id="form_subject" type="subject" name="subject" placeholder="Subject">
			                                        <div class="help-block with-errors"></div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="row">
			                                <div class="col-md-12">
			                                    <div class="form-group">
			                                        <textarea id="form_message" name="message" placeholder="Message *" rows="4" required="required" data-error="Message."></textarea>
			                                        <div class="help-block with-errors"></div>
			                                    </div>
			                                </div>
			                                <div class="col-sm-4">
			                                    <input type="submit" class="button" value="Send message">
			                                </div>
			                            </div>
			                        </div>
			                    </form>
							</div>
						</div>
					</div>
				</div>				
			</section>
			<!--====== End Contact ======-->

		</main>

		<!--====== Footer ======-->
		<footer>
			<div class="container">
				
				<div class="social-icon">
					<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
					<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
					<span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
					<span><i class="fa fa-github" aria-hidden="true"></i></span>
				</div>

				<p>Copy Right &copy; By HishamM | All Right Reserved.</p>
			</div>
		</footer>
		<!--====== End Footer ======-->
		
		
		
		<!--====== js ======-->

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

	  	<!-- bootstrap -->
		<script src="js/bootstrap.min.js"></script>

		<!-- singlePageNav -->
		<script src="js/jquery.singlePageNav.min.js"></script>

		<!-- magnific-popup -->
		<script src="js/jquery.magnific-popup.min.js"></script>

		<!-- owl carousel -->
		<script src="js/owl.carousel.min.js"></script>

		<!-- stellar js -->
		<script src="js/jquery.stellar.min.js"></script>

      	<!-- jquery.waypoints.min js -->
      	<script src="js/jquery.waypoints.min.js"></script>

      	<!-- jquery.counterup.min js -->
      	<script src="js/jquery.counterup.min.js"></script>

      	<!-- typed js -->
      	<script src="js/typed.js"></script>

      	<!-- isotope.pkgd.min js -->
      	<script src="js/isotope.pkgd.min.js"></script>

      	<!-- jquery.mb.YTPlayer.min js -->
      	<script src="js/jquery.mb.YTPlayer.min.js"></script>

      	<!-- validator js -->
      	<script src="js/validator.js"></script>

      	<!-- custom js -->
      	<script src="js/custom.js"></script>

      	<script type="text/javascript">
    		$('.player').mb_YTPlayer();
      	</script>

	</body>
</html>