{% extends 'KBMS/base.html' %}


{% block body %}
<div class="container-fluid" style="margin-top:100px">
	
	<div class="row">

		<div class="col-sm-12 col-md-5">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Add a Node</h3>
					<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% include 'KBMS/node_template.html' %}
						<div class="form-group"></div>
							<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">Submit</button>
							</div>
					</form>

				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Existing Entities</h3>
					<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% include 'KBMS/node_template.html' %}
						<div class="form-group"></div>
							<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">Submit</button>
							</div>
					</form>

				</div>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}